body {
  background-color: black;
}

.myButtons {
  display: flex;
  justify-content: center;
}

button {
  margin: 2px;
}

.container {
  margin: auto;
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0;
  background-color: white;
}

.apiID {
  font-style: italic;
}

img {
  max-width: 70%;
  border: 5px solid black;
}

div {
  margin: 5px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}